body{background-color: blue}
h1{
	color:red;
	text-align: right;
	border:5px solid silver;
	
	background-color: green;
}
p{
	color: white;
	text-align: left;
}


}
ul{
	list-style-type: square; 
}
table,th,td{ border: 1px solid red }
table{ border-collapse: collapse; 
height: 20%;
width: 80%;}
td{padding: 50px;
	
vertical-align: top;}